/*
Find your favorite colors at here :
http://flatcolors.net/
https://www.materialpalette.com/colors/
https://color.adobe.com/create/color-wheel/
*/

$white:        #ffffff;
$smoke:        #f7f7f7;
$darksmoke:    #dddddd;
$red:          #e74c3c;
$green:        #48af4a;
$blue:         #3498db;
$yellow:       #fbdb45;
$orange:       #e67e22;
$midnight:     #1f1f1f;
$black:        #000000;
