/*
Author      : Faizal Andyka
Website     : https://www.linkedin.com/in/logustra
Github      : https://github.com/Logustra
Upwork      : https://www.upwork.com/o/profiles/users/_~01d79ca5dcabfd8b35
Skype       : logustra
Telegram    : @logustra
*/

// utils
@import "utils/mixins";
@import "utils/layout";

// base
@import "base/colors";
@import "base/typography";
@import "base/base";

// components 
@import "components/list-projects";
@import "components/tabs-widget";
@import "components/card-slider-widget";
@import "components/helper";

// layout
@import "layout/navbar";
@import "layout/footer";
@import "layout/responsive";
