.card-slider-widget {

    .container {
        background: $white;
        padding: 50px;
        margin: 48px auto;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

        h1 {
            font-weight: 300;
            letter-spacing: 4px;
            text-align: center;
            margin: 25px 0 70px 0;
        }// h1

        .item {
            display: none;

            &:first-of-type {
                display: block;
            }

            .col-md-9 {
                
                h2 {
                    font-family: $font2;
                    font-weight: bold;
                    letter-spacing: 2.5px;
                    margin-top: 0;
                }

                p {
                    font-weight: 300;
                    letter-spacing: 1px;
                }// p
            }// .columns
        }// .item
        

        .btn-card-slider {
            padding: 30px 0 30px 280px;

            .btn-success {
                box-shadow: none;
                margin: 0 5px;

                &:hover,
                &:focus {
                    background: $smoke !important;
                }// pseudoclass
            }// .btn-success
        }// .btn-sliders
    }// .container
}// .card-slider-widget

/* Responsive */

@include mq (xxsmall) {
    .card-slider-widget {
        
        .container {
    
            .item {
    
                .col-md-9 {
                    
                    h2 {
                        margin-top: 20px;
                        text-align: center;
                    }
                }// .columns
            }// .item
            
    
            .btn-card-slider {
                padding: 20px 0;
                text-align: center;
    
                .btn-success {
                    margin-bottom: 15px;
                }// .btn-success

                .pull-right {
                    float: none !important;
                }
            }// .btn-sliders
        }// .container
    }// .card-slider-widget
}

@include mq (xsmall) {
    .card-slider-widget {
        
        .container {
    
            .btn-card-slider {
                padding: 20px 0;
                text-align: left;

                .btn-success {
                    margin-bottom: 0;
                }
    
                .pull-right {
                    float: right !important;
                }
            }// .btn-sliders
        }// .container
    }// .card-slider-widget
}

@include mq (medium) {
    .card-slider-widget {
        
        .container {
    
            .item {
    
                .col-md-9 {
                    
                    h2 {
                        margin-top: 0;
                        text-align: left;
                    }
                }// .columns
            }// .item
            
    
            .btn-card-slider {
                padding: 30px 0 30px 230px;
                }// .btn-sliders
        }// .container
    }// .card-slider-widget
}

@include mq (large) {
    .card-slider-widget {
        
        .container {
    
            .btn-card-slider {
                padding: 30px 0 30px 275px;
            }// .btn-sliders
        }// .container
    }// .card-slider-widget
}