.list-projects {
    
    .container {
        margin: 35px auto;

        .col-sm-4 {
            display: table;
            padding: 15px;
    
            .wrapper {
                display: table-cell;
                vertical-align: middle;
                height: 250px;
                padding: 25px;
                text-align: center;
                border: 12px solid $smoke;
                transition: .5s;
    
                &:hover {
                    background: $green;
                    border: 12px solid $green;
    
                    h1 {
                        color: $white;
                    }
                }// pseudoclass
    
                a {
                    text-decoration: none;

                    h1 {
                        font-weight: 300;
                        letter-spacing: 4px;
                        line-height: 50px;
                        margin: 25px 0;
                        transition: .5s;
                        color: $midnight;
                    }// h1
                }// a
            }// .wrapper
        }// .columns
    }// .container
}// .list-projects